<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="{{ .Params.class | default "profile-page" }}">
  {{ partial "nav.html" . }}
  
  {{ $bg := (.Param "background") | default .Site.Params.background | default "img/bg7.jpg" | relURL  }}
  <div class="page-header header-filter" 
       data-parallax="true"
       style="background-image: url('{{ $bg }}');">
  </div>
  <div class="main main-raised">
	  <div class="profile-content">
      <div class="container">
  
  {{ block "hero" . }}
  {{ end }}
        
  {{ block "content" . }}
  {{ end }}
	
	    </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
  {{ partial "javascript.html" . }}
  </body>
</html>
