
<div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 ml-auto mr-auto">

<!-- Tabs with icons on Card -->
<div class="card card-nav-tabs">
  <div class="card-header card-header-primary">
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                      <a class="nav-link active" href="#authors" data-toggle="tab">
                          <i class="material-icons">people</i>
                          Authors
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#variables" data-toggle="tab">
                          <i class="material-icons">table_chart</i>
                          Variables
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#download" data-toggle="tab">
                          <i class="material-icons">cloud_download</i>
                          Download
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
<div class="card-body ">
<h3>{{ .Page.Params.name }}</h3>

{{ .Page.Description | truncate 250 }}

<hr/>
      
      <div class="tab-content text-left">
          <div class="tab-pane active" id="authors">
            <ul class="fa-ul">
              {{ range .Page.Params.creator }}
                <li><i class="fa fa-user"></i> {{ .givenName }} {{ .familyName }} </li>
              {{ end }}
            </ul>
          </div>
          <div class="tab-pane" id="variables">
              <p> </p>
          </div>
          <div class="tab-pane" id="download">
              <p></p>
          </div>
      </div>
  </div>
</div>

</div>
</div>
</div>