
<div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 ml-auto mr-auto">

<!-- Tabs with icons on Card -->
<div class="card card-nav-tabs">

<div class="card-body ">
<h5>{{ .Site.Data.dataspice.name }}</h4>



{{if .Site.Data.dataspice.image }}
<img class="img-fluid" src="{{.Site.Data.dataspice.image | relURL }}"/>

{{else if .Site.Data.dataspice.mapcenterstring }}
    
<div id="map"></div>

{{ end }}


<emph>{{ .Site.Data.dataspice.spatialCoverage.name }}</emph>
<hr/>

<p style="line-height: 1.2em; font-size: 80%">{{ .Page.Description | truncate 250 }}</p>

<hr/>

      <div class="nav-tabs-navigation bg-info">
          <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#coverage" data-toggle="tab">
                      <i class="material-icons">satellite</i>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="#authors" data-toggle="tab">
                          <i class="material-icons">people</i>
                          
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#variables" data-toggle="tab">
                          <i class="material-icons">table_chart</i>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#legal" data-toggle="tab">
                          <i class="material-icons">gavel</i>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#download" data-toggle="tab">
                          <i class="material-icons">cloud_download</i>
                          
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      
      <div class="tab-content text-left">
        
          <div class="tab-pane active" id="coverage">
            <div id="map"></div>
          </div>
        
          <div class="tab-pane" id="authors">
            <h6>Authors</h6>
            <ul class="fa-ul">
              {{ range first 10 .Site.Data.dataspice.creator }}
                <li><i class="fa fa-user"></i> &nbsp; {{ .givenName }} {{ .familyName }} </li>
              {{ end }}
            </ul>
          </div>
          <div class="tab-pane" id="variables">
            <table class="table table-striped" align="text-center">
             <tr>
              <th align="center" style="width:10px">variable</th>
              <th align="center" style="width:10px"><i class="fa fa-thermometer-full"></i> units</th>
              <th align="center" style="width:50px"><i class="material-icons">short_text</i></th>
            </tr>
              {{ range first 10 .Site.Data.dataspice.variableMeasured }}
                <tr><td>{{ .value }}</td><td>{{.unitText}}</td><td>{{ .description }}</td></tr>
              {{ end }}            
              </table>
              {{ if gt (len .Site.Data.dataspice.variableMeasured) 10 }} More ... {{ end }}
          </div>
          
          <div class="tab-pane" id="legal">
          <ul class="fa-ul">
          {{ if .Site.Data.dataspice.license }} <li><i class="fa fa-balance-scale"></i> <a href="{{ .Site.Data.dataspice.license }}"> license</a></li> {{ end }} 
          {{ if .Site.Data.dataspice.funder }} <li><i class="fa fa-money"></i> <a href="{{ .Site.Data.dataspice.funder }}"> funder </a></li> {{ end }} 
          </ul>
          </div>
          
          <div class="tab-pane" id="download">
              <h6>Download</h6>
              <ul class="fa-ul">
              {{ range first 10 .Site.Data.dataspice.distribution }}
                <li><a href="{{.contentUrl}}"><i class="fa fa-table"></i> &nbsp; {{ .name }} </a> </li>
              {{ end }}
              </ul>

              {{ if gt (len .Site.Data.dataspice.distribution) 10 }} More... {{ end }}

          </div>
      </div>
  </div>
</div>

</div>




{{ $coords := split .Site.Data.dataspice.spatialCoverage.geo.box " " }}
{{ $north := index $coords 0 | float }}
{{ $east := index $coords 1 | float }}
{{ $south := index $coords 2 | float }}
{{ $west := index $coords 3 | float }}
{{ $ns := add $north $south  }}
{{ $ew := add $east $west  }}
{{ div $ns 2  }}
{{ div $ew 2  }} 
   
  <script>
      var mymap = L.map('map').setView([{{ div $ns 2  }}, {{ div $ew 2  }}] , 1);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiYnJ5Y2VtIiwiYSI6ImxXeXloYWMifQ.-WnjEqej0kbv101nt6b_KQ'
      }).addTo(mymap);

      var polygon = L.polygon([[{{$north}},{{$east}}], [{{$south}},{{$east}}], [{{$south}},{{$west}}], [{{$north}},{{$west}}] ]).addTo(mymap);
    </script>
</div>
</div>